<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.storm.mapper.ConfigPublicCharMaoMapper">
  <resultMap type="ConfigPublicChar" id="PublicMapper">
  		<result property="pbcId" column="pbc_id"/>
  		<result property="attributeKind" column="attribute_kind"/>
  		<result property="attributeName" column="attribute_name"/>
  </resultMap>

  </mapper>