<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.storm.mapper.ConfigMajorKindMapper">
  		<resultMap type="ConfigMajorKind" id="myConfigMajorKind">
  			<result property="mfkId" column="mfk_id"/>
  			<result property="majorKindId" column="major_kind_id"/>
  			<result property="majorKindName" column="major_kind_name"/>
  		</resultMap>
  
  		<insert id="saveConfigMajorKind" parameterType="ConfigMajorKind" >
  			insert into config_major_kind(mfk_id,major_kind_id,major_kind_name)
  			values (#{mfkId},#{majorKindId},#{majorKindName})
  		</insert>
  		<select id="selectAllConfigMajorKind" resultMap="myConfigMajorKind">
  			select * from config_major_kind
  		</select>
  		
  		<select id="selectConfigMajorKindByfsk_id" parameterType="_int" resultMap="myConfigMajorKind">
  			select * from config_major_kind where mfk_id = #{id}
  		</select>
  		
  		<select id="selectIdByNames" parameterType="java.lang.String" resultType="java.lang.String">
  			select major_kind_name from config_major_kind where major_kind_id=#{majorKindId} 
  		</select>
  		
  		<delete id="deleteConfigMajorKindByfsk_id" parameterType="_int">
  			delete from config_major_kind where  mfk_id = #{id}
  		</delete>
  		<update id="updateConfigMajorKind" parameterType="ConfigMajorKind">
  			update config_major_kind set 
	  			major_kind_id = #{majorKindId},major_kind_name=#{majorKindName}
  				where mfk_id = #{mfkId}
  		</update>
  		
  		<select id="selectMaxId" resultType="_int">
  		SELECT if(max(mfk_id) is null,1,max(mfk_id)+1) as newId FROM config_major_kind
  		</select>
  </mapper>
