<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.storm.mapper.ConfigPublicCharMapper">
  <resultMap type="ConfigPublicChar" id="MyConfigPublicChar">
  		<result property="pbcId" column="pbc_id"/>
  		<result property="attributeKind" column="attribute_kind"/>
  		<result property="attributeName" column="attribute_name"/>
  </resultMap>
  
  		<insert id="saveConfigPublicChar" parameterType="ConfigPublicChar" >
  			insert into config_public_char(pbc_id,attribute_kind,attribute_name)
  			values (#{pbcId},#{attributeKind},#{attributeName})
  		</insert>
  		<select id="selectAllConfigPublicChar" resultType="ConfigPublicChar" resultMap="MyConfigPublicChar">
  			select * from config_public_char
  		</select>
  		<select id="selectConfigPublicCharBypbcId" parameterType="_int" resultType="ConfigPrimaryKey">
  			select * from config_public_char where pbc_id = #{pbcId}
  		</select>
  		<delete id="deleteConfigPublicCharBypbcId" parameterType="_int">
  			delete from config_public_char where  pbc_id = #{pbcId}
  		</delete>
  		<update id="updateConfigPublicChar" parameterType="ConfigPublicChar">
  			update config_public_char set 
	  			attribute_kind = #{attributeKind},
	  			attribute_name = #{attributeName},
  			where pbc_id = #{pbcId}
  		</update>
  </mapper>