<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.storm.mapper.ConfigMajorMapper">
  		<resultMap type="ConfigMajor" id="myConfigMajor">
  			<result property="makId" column="mak_id"/>
  			<result property="majorKindId" column="major_kind_id"/>
  			<result property="majorKindName" column="major_kind_name"/>
  			<result property="majorId" column="major_id"/>
  			<result property="majorName" column="major_name"/>
  			<result property="testAmount" column="test_amount"/>
  		</resultMap>
  
  		<insert id="saveConfigMajor" parameterType="ConfigMajor" >
  			insert into config_major(mak_id,major_kind_id,major_kind_name,major_id,
  			major_name,test_amount)
  			values (#{makId},#{majorKindId},#{majorKindName},#{majorId},#{majorName},#{testAmount})
  		</insert>
  		<select id="selectAllConfigMajor" resultType="ConfigMajor">
  			select * from config_major
  		</select>
  		<select id="selectConfigMajorByffk_id" parameterType="_int" resultType="ConfigMajor">
  			select * from config_major where mak_id = #{id}
  		</select>
  		<delete id="deleteConfigMajorByffk_id" parameterType="_int">
  			delete from config_major where  mak_id = #{id}
  		</delete>
  		<update id="updateConfigMajor" parameterType="ConfigMajor">
  			update config_major set 
	  			major_kind_id = #{majorKindId},major_kind_name=#{majorKindName},major_id=#{majorId},
	  			major_name=#{majorName},test_amount=#{testAmount}
  				where mak_id = #{makId}
  		</update>
  </mapper>