<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.storm.mapper.EngageSubjectsMapper">
  
  <resultMap type="EngageSubjects" id="myEngageSubjects">
  	<result property="subId" column="sub_id"/>
  	<result property="firstKindId" column="first_kind_id"/>
  	<result property="firstKindName" column="first_kind_name"/>
  	<result property="secondKindId" column="second_kind_id"/>
  	<result property="secondKindName" column="second_kind_name"/>
  	<result property="register" column="register"/>
  	<result property="registTime" column="regist_time"/>
  	<result property="derivation" column="derivation"/>
  	<result property="content" column="content"/>
  	<result property="keyA" column="key_a"/>
  	<result property="keyB" column="key_b"/>
  	<result property="keyC" column="key_c"/>
  	<result property="keyD" column="key_d"/>
  	<result property="keyE" column="key_e"/>
  	<result property="correctKey" column="correct_key"/>
  	<result property="changer" column="changer"/>
  	<result property="changeTime" column="change_time"/>
  	
  </resultMap>
  
  		<insert id="saveEngageSubjects" parameterType="EngageSubjects">
  			insert into engage_subjects(first_kind_id,first_kind_name,second_kind_id,second_kind_name,register,regist_time,derivation,content,key_a,key_b,key_c,key_d,key_e,correct_key,changer,change_time) 
  			values (#{firstKindId},#{firstKindName},#{secondKindId},#{secondKindName},#{register},#{registTime},#{derivation},#{content},#{keyA},#{keyB},#{keyC},#{keyD},#{keyE},#{correctKey},#{changer},#{changeTime})
  		</insert>
  		<select id="selectAllEngageSubjects" resultMap="myEngageSubjects">
  			select * from engage_subjects
  		</select>
  		<select id="selectEngageSubjectsBysubId" parameterType="_int" resultMap="myEngageSubjects">
  			select * from engage_subjects where sub_id = #{id}
  		</select>
  		<delete id="deleteEngageSubjectsBysubId" parameterType="_int">
  			delete from engage_subjects where  sub_id = #{id}
  		</delete>
  		<update id="updateEngageSubjects" parameterType="EngageSubjects">
  			update engage_subjects set  
	  			 first_kind_id= #{firstKindId}, first_kind_name=#{firstKindName} , 
				second_kind_id= #{secondKindId}, second_kind_name= #{secondKindName}, register= #{register}, 
				regist_time= #{registTime}, derivation= #{derivation}, content= #{content}, key_a=#{keyA} , key_b=#{keyB} , 
				key_c=#{keyC} , key_d=#{keyD} , key_e= #{keyE}, correct_key= #{correctKey}, changer= #{changer}, change_time =#{changeTime}

  			where sub_id= #{subId}
  		</update>
  		
  		<select id="selectEngageSubjectsByCondition" parameterType="Map" resultMap="myEngageSubjects">
  			select * from engage_subjects 
  			<trim prefix="where" prefixOverrides="or|and">
  			
  				
				<if test="keyword != null">
  				<bind name="a" value="'%' + keyword + '%'"/>
					or content like #{a} 
					or register like #{a} 
					or derivation like #{a} 
					
				</if>
				<if test="secondKindName != null">
  				<bind name="b" value="'%' + secondKindName + '%'"/>
					and second_kind_name like #{b}
				</if>
				<if test="starttime != null">
					and regist_time &gt;= #{starttime}
				</if>
				<if test="endtime != null">
					and regist_time &lt;= #{endtime}
				</if>
  			</trim>
  			
  		</select>
  		
  </mapper>
