<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.storm.mapper.EngageResumeMapper">
  
  <resultMap type="EngageResume" id="myEngageResumeMapper">
		<result property="res_id" column="resId"/>
		<result property="human_name" column="humanName"/>
		<result property="engage_type" column="engageType"/>
		<result property="human_address" column="humanAddress"/>
		<result property="human_postcode" column="humanPostcode"/>
		<result property="human_major_kind_id" column="humanMajorKindId"/>
		<result property="human_major_kind_name" column="humanMajorKindName"/>
		<result property="human_major_id" column="humanMajorId"/>
		<result property="human_major_name" column="humanMajorName"/>
		<result property="human_telephone" column="humanTelephone"/>
		<result property="human_homephone" column="humanHomephone"/>
		<result property="human_mobilephone" column="humanMobilephone"/>
		<result property="human_email" column="humanEmail"/>
		<result property="human_hobby" column="humanHobby"/>
		<result property="human_specility" column="humanSpecility"/>
		<result property="human_sex" column="humanSex"/>
		<result property="human_religion" column="humanReligion"/>
		<result property="human_party" column="humanParty"/>
		<result property="human_nationality" column="humanNationality"/>
		<result property="human_race" column="humanRace"/>
		<result property="human_birthday" column="humanBirthday"/>
		<result property="human_age" column="humanAge"/>
		<result property="human_educated_degree" column="humanEducatedDegree"/>
		<result property="human_educated_years" column="humanEducatedYears"/>
		<result property="human_educated_major" column="humanEducatedMajor"/>
		<result property="human_college" column="humanCollege"/>
		<result property="human_idcard" column="humanIdcard"/>
		<result property="human_birthplace" column="humanBirthplace"/>
		<result property="demand_salary_standard" column="demandSalaryStandard"/>
		<result property="human_history_records" column="humanHistoryRecords"/>
		<result property="remark" column="remark"/>
		<result property="recomandation" column="recomandation"/>
		<result property="human_picture" column="humanPicture"/>
		<result property="attachment_name" column="attachmentName"/>
		<result property="check_status" column="checkStatus"/>
		<result property="register" column="register"/>
		<result property="regist_time" column="registTime"/>
		<result property="checker" column="checker"/>
		<result property="check_time" column="checkTime"/>
		<result property="interview_status" column="interviewStatus"/>
		<result property="total_points" column="totalPoints"/>
		<result property="test_amount" column="testAmount"/>
		<result property="test_checker" column="testChecker"/>
		<result property="test_check_time" column="testCheckTime"/>
		<result property="pass_register" column="passRegister"/>
		<result property="pass_regist_time" column="passRegistTime"/>
		<result property="pass_checker" column="passChecker"/>
		<result property="pass_check_time" column="passCheckTime"/>
		<result property="pass_check_status" column="passCheckStatus"/>
		<result property="pass_checkComment" column="passCheckComment"/>
		<result property="pass_passComment" column="passPassComment"/>


  
  </resultMap>
  
  <insert id="saveEngageResume" parameterType="EngageResume">
  insert into engage_resume(human_name,engage_type,human_address,human_postcode,human_major_kind_id,human_major_kind_name,human_major_id,human_major_name,human_telephone,human_homephone,human_mobilephone,human_email,human_hobby,human_specility,human_sex,human_religion,human_party,human_nationality,human_race,human_birthday,human_age,human_educated_degree,human_educated_years,human_educated_major,human_college,human_idcard,human_birthplace,demand_salary_standard,human_history_records,remark,recomandation,human_picture,attachment_name,check_status,register,regist_time,checker,check_time,interview_status,total_points,test_amount,test_checker,test_check_time,pass_register,pass_regist_time,pass_checker,pass_check_time,pass_check_status,pass_checkComment,pass_passComment
  ) 
  values (#{humanName},#{engageType},#{humanAddress},#{humanPostcode},#{humanMajorKindId},#{humanMajorKindName},#{humanMajorId},#{humanMajorName},#{humanTelephone},#{humanHomephone},#{humanMobilephone},#{humanEmail},#{humanHobby},#{humanSpecility},#{humanSex},#{humanReligion},#{humanParty},#{humanNationality},#{humanRace},#{humanBirthday},#{humanAge},#{humanEducatedDegree},#{humanEducatedYears},#{humanEducatedMajor},#{humanCollege},#{humanIdcard},#{humanBirthplace},#{demandSalaryStandard},#{humanHistoryRecords},#{remark},#{recomandation},#{humanPicture},#{attachmentName},#{checkStatus},#{register},#{registTime},#{checker},#{checkTime},#{interviewStatus},#{totalPoints},#{testAmount},#{testChecker},#{testCheckTime},#{passRegister},#{passRegistTime},#{passChecker},#{passCheckTime},#{passCheckStatus},#{passCheckComment},#{passPassComment})
  </insert>
  <select id="selectAllEngageResume" resultMap="myEngageResumeMapper">
  select * from engage_resume
  </select>
  <select id="selectEngageResumeByresId" parameterType="_int" resultMap="myEngageResumeMapper">
  select * from engage_resume where res_id  = #{id}
  </select>
  <delete id="deleteEngageResumeByresId" parameterType="_int">
  delete from engage_resume where  res_id  = #{id}
  </delete>
  <update id="updateEngageResume" parameterType="EngageResume">
  update engage_resume set  
		human_name = #{humanName},
		engage_type = #{engageType},
		human_address = #{humanAddress},
		human_postcode = #{humanPostcode},
		human_major_kind_id = #{humanMajorKindId},
		human_major_kind_name = #{humanMajorKindName},
		human_major_id = #{humanMajorId},
		human_major_name = #{humanMajorName},
		human_telephone = #{humanTelephone},
		human_homephone = #{humanHomephone},
		human_mobilephone = #{humanMobilephone},
		human_email = #{humanEmail},
		human_hobby = #{humanHobby},
		human_specility = #{humanSpecility},
		human_sex = #{humanSex},
		human_religion = #{humanReligion},
		human_party = #{humanParty},
		human_nationality = #{humanNationality},
		human_race = #{humanRace},
		human_birthday = #{humanBirthday},
		human_age = #{humanAge},
		human_educated_degree = #{humanEducatedDegree},
		human_educated_years = #{humanEducatedYears},
		human_educated_major = #{humanEducatedMajor},
		human_college = #{humanCollege},
		human_idcard = #{humanIdcard},
		human_birthplace = #{humanBirthplace},
		demand_salary_standard = #{demandSalaryStandard},
		human_history_records = #{humanHistoryRecords},
		remark = #{remark},
		recomandation = #{recomandation},
		human_picture = #{humanPicture},
		attachment_name = #{attachmentName},
		check_status = #{checkStatus},
		register = #{register},
		regist_time = #{registTime},
		checker = #{checker},
		check_time = #{checkTime},
		interview_status = #{interviewStatus},
		total_points = #{totalPoints},
		test_amount = #{testAmount},
		test_checker = #{testChecker},
		test_check_time = #{testCheckTime},
		pass_register = #{passRegister},
		pass_regist_time = #{passRegistTime},
		pass_checker = #{passChecker},
		pass_check_time = #{passCheckTime},
		pass_check_status = #{passCheckStatus},
		pass_checkComment = #{passCheckComment},
		pass_passComment = #{passPassComment}
   
  where res_id = #{resId}
  </update>
  </mapper>
