<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.storm.mapper.EngageResumeMapper">
  
  <resultMap type="EngageResume" id="myEngageResumeMapper">
		<result column="res_id" property="resId"/>
		<result column="human_name" property="humanName"/>
		<result column="engage_type" property="engageType"/>
		<result column="human_address" property="humanAddress"/>
		<result column="human_postcode" property="humanPostcode"/>
		<result column="human_major_kind_id" property="humanMajorKindId"/>
		<result column="human_major_kind_name" property="humanMajorKindName"/>
		<result column="human_major_id" property="humanMajorId"/>
		<result column="human_major_name" property="humanMajorName"/>
		<result column="human_telephone" property="humanTelephone"/>
		<result column="human_homephone" property="humanHomephone"/>
		<result column="human_mobilephone" property="humanMobilephone"/>
		<result column="human_email" property="humanEmail"/>
		<result column="human_hobby" property="humanHobby"/>
		<result column="human_specility" property="humanSpecility"/>
		<result column="human_sex" property="humanSex"/>
		<result column="human_religion" property="humanReligion"/>
		<result column="human_party" property="humanParty"/>
		<result column="human_nationality" property="humanNationality"/>
		<result column="human_race" property="humanRace"/>
		<result column="human_birthday" property="humanBirthday"/>
		<result column="human_age" property="humanAge"/>
		<result column="human_educated_degree" property="humanEducatedDegree"/>
		<result column="human_educated_years" property="humanEducatedYears"/>
		<result column="human_educated_major" property="humanEducatedMajor"/>
		<result column="human_college" property="humanCollege"/>
		<result column="human_idcard" property="humanIdcard"/>
		<result column="human_birthplace" property="humanBirthplace"/>
		<result column="demand_salary_standard" property="demandSalaryStandard"/>
		<result column="human_history_records" property="humanHistoryRecords"/>
		<result column="remark" property="remark"/>
		<result column="recomandation" property="recomandation"/>
		<result column="human_picture" property="humanPicture"/>
		<result column="attachment_name" property="attachmentName"/>
		<result column="check_status" property="checkStatus"/>
		<result column="register" property="register"/>
		<result column="regist_time" property="registTime"/>
		<result column="checker" property="checker"/>
		<result column="check_time" property="checkTime"/>
		<result column="interview_status" property="interviewStatus"/>
		<result column="total_points" property="totalPoints"/>
		<result column="test_amount" property="testAmount"/>
		<result column="test_checker" property="testChecker"/>
		<result column="test_check_time" property="testCheckTime"/>
		<result column="pass_register" property="passRegister"/>
		<result column="pass_regist_time" property="passRegistTime"/>
		<result column="pass_checker" property="passChecker"/>
		<result column="pass_check_time" property="passCheckTime"/>
		<result column="pass_check_status" property="passCheckStatus"/>
		<result column="pass_checkComment" property="passCheckComment"/>
		<result column="pass_passComment" property="passPassComment"/>
		
  
  </resultMap>
  
  <insert id="saveEngageResume" parameterType="EngageResume">
  insert into engage_resume(human_name,engage_type,human_address,human_postcode,human_major_kind_id,human_major_kind_name,human_major_id,human_major_name,human_telephone,human_homephone,human_mobilephone,human_email,human_hobby,human_specility,human_sex,human_religion,human_party,human_nationality,human_race,human_birthday,human_age,human_educated_degree,human_educated_years,human_educated_major,human_college,human_idcard,human_birthplace,demand_salary_standard,human_history_records,remark,recomandation,human_picture,attachment_name,check_status,register,regist_time,checker,check_time,interview_status,total_points,test_amount,test_checker,test_check_time,pass_register,pass_regist_time,pass_checker,pass_check_time,pass_check_status,pass_checkComment,pass_passComment
  ) 
  values (#{humanName},#{engageType},#{humanAddress},#{humanPostcode},#{humanMajorKindId},#{humanMajorKindName},#{humanMajorId},#{humanMajorName},#{humanTelephone},#{humanHomephone},#{humanMobilephone},#{humanEmail},#{humanHobby},#{humanSpecility},#{humanSex},#{humanReligion},#{humanParty},#{humanNationality},#{humanRace},#{humanBirthday},#{humanAge},#{humanEducatedDegree},#{humanEducatedYears},#{humanEducatedMajor},#{humanCollege},#{humanIdcard},#{humanBirthplace},#{demandSalaryStandard},#{humanHistoryRecords},#{remark},#{recomandation},#{humanPicture},#{attachmentName},#{checkStatus},#{register},#{registTime},#{checker},#{checkTime},#{interviewStatus},#{totalPoints},#{testAmount},#{testChecker},#{testCheckTime},#{passRegister},#{passRegistTime},#{passChecker},#{passCheckTime},#{passCheckStatus},#{passCheckComment},#{passPassComment})
  </insert>
  <select id="selectAllEngageResume" resultMap="myEngageResumeMapper">
  select * from engage_resume
  </select>
  <select id="selectEngageResumeByresId" parameterType="_int" resultMap="myEngageResumeMapper">
  select * from engage_resume where res_id  = #{id}
  </select>
  <delete id="deleteEngageResumeByresId" parameterType="_int">
  delete from engage_resume where  res_id  = #{id}
  </delete>
  <update id="updateEngageResume" parameterType="EngageResume">
  update engage_resume set  
		human_name = #{humanName},
		engage_type = #{engageType},
		human_address = #{humanAddress},
		human_postcode = #{humanPostcode},
		human_major_kind_id = #{humanMajorKindId},
		human_major_kind_name = #{humanMajorKindName},
		human_major_id = #{humanMajorId},
		human_major_name = #{humanMajorName},
		human_telephone = #{humanTelephone},
		human_homephone = #{humanHomephone},
		human_mobilephone = #{humanMobilephone},
		human_email = #{humanEmail},
		human_hobby = #{humanHobby},
		human_specility = #{humanSpecility},
		human_sex = #{humanSex},
		human_religion = #{humanReligion},
		human_party = #{humanParty},
		human_nationality = #{humanNationality},
		human_race = #{humanRace},
		human_birthday = #{humanBirthday},
		human_age = #{humanAge},
		human_educated_degree = #{humanEducatedDegree},
		human_educated_years = #{humanEducatedYears},
		human_educated_major = #{humanEducatedMajor},
		human_college = #{humanCollege},
		human_idcard = #{humanIdcard},
		human_birthplace = #{humanBirthplace},
		demand_salary_standard = #{demandSalaryStandard},
		human_history_records = #{humanHistoryRecords},
		remark = #{remark},
		recomandation = #{recomandation},
		human_picture = #{humanPicture},
		attachment_name = #{attachmentName},
		check_status = #{checkStatus},
		register = #{register},
		regist_time = #{registTime},
		checker = #{checker},
		check_time = #{checkTime},
		interview_status = #{interviewStatus},
		total_points = #{totalPoints},
		test_amount = #{testAmount},
		test_checker = #{testChecker},
		test_check_time = #{testCheckTime},
		pass_register = #{passRegister},
		pass_regist_time = #{passRegistTime},
		pass_checker = #{passChecker},
		pass_check_time = #{passCheckTime},
		pass_check_status = #{passCheckStatus},
		pass_checkComment = #{passCheckComment},
		pass_passComment = #{passPassComment}
   
  where res_id = #{resId}
  </update>
  <!-- 多条件查询符合条件的人员档案MajorManagerManagerController -->
  	<select id="selectByDiction" parameterType="Map" resultMap="myEngageResumeMapper">
  			select * from engage_resume 
  			<trim prefix="where" prefixOverrides="or|and">
				<if test="humanMajorKindName != null">
				and human_major_kind_name = #{humanMajorKindName}
			</if>
			<if test="humanMajorName!= null">
				and human_major_name = #{humanMajorName}
			</if>
			 <if test="starttime  !=  null">
				and regist_time &gt; #{starttime}
			</if>
			<if test="endtime !=null">
				and regist_time &lt; #{endtime}
			</if>
			<if test="checkStatus !=null">
				and check_status = #{checkStatus}
			</if>
			
			
			
			<if test="humanName  != null">
			<bind name="humanname" value="'%' + keywords + '%'"/>
				or human_name like #{humanname}
			</if>
			<if test="humanTelephone  != null">
			<bind name="human_telephone" value="'%' + keywords + '%'"/>
				or human_telephone like #{human_telephone}
			</if>
			<if test="humanHomephone  != null">
			<bind name="human_homephone" value="'%' + keywords + '%'"/>
				or human_homephone like #{human_homephone}
			</if>
			<if test="humanMobilephone  != null">
			<bind name="human_mobilephone" value="'%' + keywords + '%'"/>
				or human_mobilephone like #{human_mobilephone}
			</if>
			<if test="humanEmail  != null">
			<bind name="human_email" value="'%' + keywords + '%'"/>
				or human_email like #{human_email}
			</if>
			<if test="humanHobby  != null">
			<bind name="human_hobby" value="'%' + keywords + '%'"/>
				or human_hobby like #{human_hobby}
			</if>
			<if test="humanSpecility  != null">
			<bind name="human_specility" value="'%' + keywords + '%'"/>
				or human_specility like #{human_specility}
			</if>
			<if test="humanSex  != null">
			<bind name="human_sex" value="'%' + keywords + '%'"/>
				or human_sex like #{human_sex}
			</if>
			<if test="humanReligion  != null">
			<bind name="human_religion" value="'%' + keywords + '%'"/>
				or human_religion like #{human_religion}
			</if>
			<if test="humanParty  != null">
			<bind name="human_party" value="'%' + keywords + '%'"/>
				or human_party like #{human_party}
			</if>
			<if test="humanNationality  != null">
			<bind name="human_nationality" value="'%' + keywords + '%'"/>
				or human_nationality like #{human_nationality}
			</if>
			<if test="humanRace  != null">
			<bind name="human_race" value="'%' + keywords + '%'"/>
				or human_race like #{human_race}
			</if>
			<if test="humanBirthday  != null">
			<bind name="human_birthday" value="'%' + keywords + '%'"/>
				or human_birthday like #{human_birthday}
			</if>
			<if test="humanAge  != null">
			<bind name="human_age" value="'%' + keywords + '%'"/>
				or human_age like #{human_age}
			</if>
			<if test="humanEducatedDegree  != null">
			<bind name="human_educated_degree" value="'%' + keywords + '%'"/>
				or human_educated_degree like #{human_educated_degree}
			</if>
			<if test="humanEducatedYears  != null">
			<bind name="human_educated_years" value="'%' + keywords + '%'"/>
				or human_educated_years like #{human_educated_years}
			</if>
			<if test="humanEducatedMajor  != null">
			<bind name="human_educated_major" value="'%' + keywords + '%'"/>
				or human_educated_major like #{human_educated_major}
			</if>
			<if test="humanCollege  != null">
			<bind name="human_college" value="'%' + keywords + '%'"/>
				or human_college like #{human_college}
			</if>
			<if test="humanIdcard  != null">
			<bind name="human_idcard" value="'%' + keywords + '%'"/>
				or human_idcard like #{human_idcard}
			</if>
			<if test="demandSalaryStandard  != null">
			<bind name="demand_salary_standard" value="'%' + keywords + '%'"/>
				and demand_salary_standard like#{demand_salary_standard}
			</if>
			<if test="remark  != null">
			<bind name="remark" value="'%' + keywords + '%'"/>
				or remark like #{remark}
			</if>
			<if test="recomandation  != null">
			<bind name="recomandation" value="'%' + keywords + '%'"/>
				or recomandation like #{recomandation}
			</if>
			
			
			
			
		</trim>
  	</select>
  
  
  </mapper>
