<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.storm.mapper.EngageAnswerMapper">
  
  <resultMap type="EngageAnswer" id="myEngageAnswer">
  <result property="ansId" column="ans_id"/>
  <result property="answerNumber" column="answer_number"/>
  <result property="examNumber" column="exam_number"/>
  <result property="resumeId" column="resume_id"/>
  <result property="interviewId" column="interview_id"/>
  <result property="humanName;" column="human_name"/>
  <result property="humanIdcard" column="human_idcard"/>
  <result property="majorKindId" column="major_kind_id"/>
  <result property="majorKindName" column="major_kind_name"/>
  <result property="majorId" column="major_id"/>
  <result property="majorName" column="major_name"/>
  <result property="testTime" column="test_time"/>
  <result property="useTime" column="use_time"/>
  <result property="totalPoint" column="total_point"/>
  </resultMap>
  
  		<insert id="saveEngageAnswer" parameterType="EngageAnswer">
  			insert into engage_answer(ans_id,answer_number,exam_number,resume_id,interview_id,human_name,human_idcard,major_kind_id,major_kind_name,major_id,major_name,test_time,use_time,total_point) 
  			values (#{ansId},#{answerNumber},#{examNumber},#{resumeId},#{interviewId},#{humanName},#{humanIdcard},#{majorKindId},#{majorKindName},#{majorId},#{majorName},#{testTime},#{useTime},#{totalPoint})
  		</insert>
  		<select id="selectAllEngageAnswer" resultMap="myEngageAnswer">
  			select * from engage_answer
  		</select>
  		<select id="selectEngageAnswerByAnsId" parameterType="_int" resultMap="myEngageAnswer">
  			select * from engage_answer where ans_id = #{id}
  		</select>
  		<delete id="deleteEngageAnswerByAnsId" parameterType="_int">
  			delete from engage_answer where  ans_id = #{id}
  		</delete>
  		<update id="updateEngageAnswer" parameterType="EngageAnswer">
  			update engage_answer answer_number=#{answerNumber},
  			exam_number=#{examNumber},resume_id=#{resumeId},interview_id=#{interviewId},
  			human_name=#{humanName},human_idcard=#{humanIdcard},
  			major_kind_id=#{majorKindId},major_kind_name=#{majorKindName},
  			major_id =#{majorId} ,major_name =#{majorName},
  			test_time = #{testTime},use_time = #{useTime},total_point =#{totalPoint}
  			where ans_id=#{ansId}
  		</update>
  </mapper>
