<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.storm.mapper.SalaryStandardDetailsMapper">
  <resultMap type="SalaryStandardDetails" id="mySalaryStandardDetails">
  <result property="sdtId" column="sdt_id"/>
  <result property="standardId" column="standard_id"/>
  <result property="standardName" column="standard_name"/>
  <result property="itemId" column="item_id"/>
  <result property="itemName" column="item_name"/>
  <result property="salary" column="salary"/>
  </resultMap>
    <resultMap type="cn.storm.dto.Xcxm" id="XcxmMapper">
    <result column="item_name" property="name"/>
    <result column="salary" property="money"/>
    <result column="item_id" property="xcxmid"/>
    <result column="standard_id" property="cstandardid"/>
  </resultMap>
	
  <select id="querystid" parameterType="SalaryStandard" resultMap="XcxmMapper">
  	select sd.standard_id,sd.item_id,sd.item_name,sd.salary from salary_standard_details sd join salary_standard ss on sd.standard_id = ss.standard_id where sd.standard_id=#{standardId}
  </select>
  		<insert id="saveSalaryStandardDetails" parameterType="SalaryStandardDetails">
  			insert into salary_standard_details(sdt_id,standard_id,standard_name,item_id,item_name,salary) 
  			values (#{sdtId},#{standardId},#{standardName},#{itemId},#{itemName},#{salary})
  		</insert>
  		<select id="selectAllSalaryStandardDetails" resultMap="mySalaryStandardDetails">
  			select * from salary_standard_details
  		</select>
  		<select id="selectSalaryStandardDetailsByStd" parameterType="_int" >
  			select * from salary_standard_details where sdt_id = #{id}
  		</select>
  		<delete id="deleteSalaryStandardDetailsByStd" parameterType="_int">
  			delete from salary_standard_details where  sdt_id= #{id}
  		</delete>
  		<update id="updateSalaryStandardDetails" parameterType="SalaryStandardDetails">
  			update salary_standard_details set standard_id=#{standardId},standard_name=#{standardName},item_id=#{itemId},item_name=#{itemName},salary=#{salary}
  			where sdt_id= #{sdtId}  
  		</update>
  </mapper>