<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.storm.mapper.SalaryStandardMapper">
  <resultMap type="SalaryStandard" id="mySalaryStandard">
  <result property="ssdId" column="ssd_id"/>
  <result property="standardId" column="standard_id"/>
  <result property="standardName" column="standard_name"/>
  <result property="designer" column="designer"/>
  <result property="register" column="register"/>
  <result property="checker" column="checker"/>
  <result property="changer" column="changer"/>
  <result property="registTime" column="regist_time"/>
  <result property="checkTime" column="check_time"/>
  <result property="changeTime" column="change_time"/>
  <result property="salarySum" column="salary_sum"/>
  <result property="checkStatus" column="check_status"/>
  <result property="changeStatus" column="change_status"/>
  <result property="checkComment" column="check_comment"/>
  <result property="remark" column="remark"/>

  </resultMap>
  
  <!--多条件查询-->
  <select id="queryBySalary" resultMap="mySalaryStandard" parameterType="map">
    select * from (select * from Salary_standard where check_status=1) as MySalary_standard
    <where>
       <if test="sstid!=null and sstid!=''">and standard_id like '%${sstid}%'</if>
       <if test="standardName!=null" >or standard_name like '%${keyWords}%'</if>
       <if test="designer!=null" >or designer like '%${keyWords}%'</if>
       <if test="checker!=null" >or checker like '%${keyWords}%'</if>
       <if test="srtime1 != null and srtime1 != ''">
				and regist_time >= str_to_date(#{srtime1},'%Y-%m-%d')
			</if>
			<if test="srtime2 != null  and srtime2 != ''">
				<![CDATA[and regist_time <= str_to_date(#{srtime2},'%Y-%m-%d')]]>
			</if>
    </where>
  </select>
  		<insert id="saveSalaryStandard" parameterType="SalaryStandard">
  			insert into salary_standard(ssd_id,standard_id,standard_name,designer,register,checker,changer,regist_time,check_time,change_time,salary_sum,check_status,change_status,check_comment,remark) 
  			values (#{ssdId},#{standardId},#{standardName},#{designer},#{register},#{checker},#{changer},#{registTime},#{checkTime},#{changeTime},#{salarySum},#{checkStatus},#{changeStatus},#{checkComment},#{remark})
  		</insert>
  		<select id="selectAllSalaryStandard" resultMap="mySalaryStandard">
  			select * from salary_standard where check_status = 0 
  		</select>
  		<select id="selectSalaryStandardBySd" parameterType="String" resultMap="mySalaryStandard">
  			select * from salary_standard where standard_id = #{id}
  		</select>
  		<delete id="deleteSalaryStandardBySd" parameterType="_int">
  			delete from salary_standard where  ssd_id = #{id}
  		</delete>
  		<update id="updateSalaryStandard" parameterType="Student">
  			update salary_standard set standard_id=#{standardId},standard_name=#{standardName},designer=#{designer},register=#{register},checker=#{checker},changer=#{changer},regist_time=#{registTime},check_time=#{checkTime},change_time=#{changeTime},salary_sum=#{salarySum},check_status=#{checkStatus},change_status=#{changeStatus},check_comment=#{checkComment},remark=#{remark}
  			where ssd_id= #{ssdId} 
  		</update>
  </mapper>