<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="cn.storm.mapper.SalaryGrantMapper">
  
  		<resultMap type="SalaryGrant" id="mySalaryGrant">
  		
  			<result property="sgrId" column="sgr_id"/>
       <result property="salaryGrantId" column="salary_grant_id"/>
          <result property="salaryStandardId" column="salary_standard_id"/>
       <result property="firstKindId" column="first_kind_id"/>
<result property="firstKindName" column="first_kind_name"/>
<result property="secondKindId" column="second_kind_id"/>
<result property="secondKindName" column="second_kind_name"/>
<result property="thirdKindId" column="third_kind_id"/>
<result property="thirdKindName" column="third_kind_name"/>
<result property="humanAmount" column="human_amount"/>
<result property="salaryStandardSum" column="salary_standard_sum"/>
<result property="salaryPaidSum" column="salary_paid_sum"/>
<result property="register" column="register"/>
<result property="registTime" column="regist_time"/>
<result property="checker" column="checker"/>
<result property="checkTime" column="check_time"/>
     <result property="checkStatus" column="check_status"/>
  			
  			
  		</resultMap>
  
  		<insert id="saveSalaryGrant" parameterType="SalaryGrant" >
  		
  			insert into Salary_Grant(sgr_id,salary_grant_id,salary_standard_id,first_kind_id,first_kind_name,second_kind_id,second_kind_name,third_kind_id,third_kind_name,human_amount,salary_standard_sum,salary_paid_sum,register,regist_time,checker,check_time,check_status)
  			values (
#{sgrId},	#{salaryGrantId},	#{salaryStandardId},	#{firstKindId},	#{firstKindName},	#{secondKindId},	#{secondKindName},	#{thirdKindId},	#{thirdKindName},	#{humanAmount},	#{salaryStandardSum},	#{salaryPaidSum},	#{register},	#{registTime},	#{checker},	#{checkTime},	#{checkStatus}
  			)
  		</insert>
  	
  		<select id="selectAllSalaryGrant" resultMap="mySalaryGrant">
  			select * from Salary_Grant
  		</select>
  		<select id="selectSalaryGrantBysgrid" parameterType="_int" resultMap="mySalaryGrant">
  			select * from Salary_Grant where sgr_id = #{id}
  		</select>
  		
  		<delete id="deleteSalaryGrantBysgrid" parameterType="_int">
  			delete from Salary_Grant where  sgr_id = #{id}
  		</delete>
  		<update id="updateSalaryGrant" parameterType="SalaryGrant">
  			update Salary_Grant set salary_grant_id=#{salaryGrantId},salary_standard_id=#{		  salaryStandardId},first_kind_id=#{firstKindId},first_kind_name=#{		  firstKindName},second_kind_id=#{secondKindId},second_kind_name=#{		  secondKindName},third_kind_id=#{thirdKindId},third_kind_name=#{		  thirdKindName},human_amount=#{humanAmount},salary_standard_sum=#{		  salaryStandardSum},salary_paid_sum=#{salaryPaidSum},register=#{		  register},regist_time=#{	registTime},checker=#{		  checker},check_time=#{		  checkTime},check_status=#{		  checkStatus}
	  		
  			where sgr_id = #{sgrId}
  		</update>
  		
  </mapper>